


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: black;
    
}

/*Header*/

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

.nav-list > li {
    margin-bottom: 1em;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styling dropdown*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 100%;
    display: none;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.logo {
    font-size: 80%;
}



/*Main*/

main {
    background-color: lightblue;
    flex: 1 0 auto;
    margin-top: 47px;
}

img {
    height: 100%;
    width: 100%;
}

/*Footer*/

footer {
    background-color: red;
}


/*Media query's*/

/* Media query: Tablets and larger*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .nav-list {
        display: flex;
    }

    .nav-list > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}