


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: black;
    
}

h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.spacing-top {
    margin-top: 5px;
}

/*Header*/

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigationbar*/

.nav-list {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

.nav-list > li {
    margin-bottom: 1em;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styling dropdown*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 100%;
    display: none;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.logo {
    font-size: 80%;
}



/* Main */

main {
    flex: 1 0 auto;
    margin-top: 38px;
}

/* Hero */

#hero {
    height: 600px;
    width: 100%;
    background: url(../image/pexels-pixabay-262524.jpg) no-repeat center center/cover;
}


#cover-text {
    /* Rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(173, 216, 230, .7);
    font-size: 120%;
    position: absolute;
    bottom: 200px;
    width: 80%;
    min-height: 120px;
    padding-top: 20px;
    padding-left: 5px;
}

/*Welcome section*/

#welcome-text {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: blue;
    padding-top: 25px;
    text-align: center;
}

#team {
    text-align: center;
}

/* Teams area */

/* Latest game */
.games {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background: url(../image/pexels-pixabay-46798.jpg)no-repeat center center/cover;
}

.cover-text-game {
        background-color: rgb(173, 216, 230, .5);
        width: 110px;
        height: 75px;
        color: black;
        font-weight: bold;
        margin-top: 20px;
        font-size: 120%;
}

/* Team sheet */

#team-sheet {
    margin-top: 10px;
    text-align: center;
}

.team-sheet-players {
    margin-top: 10px;
}


/* Team Table */

.league-table {
    margin: 20px 0% 30px 0%;
}

.league-table table {
    margin: 10px auto;
}

.headin {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}


th, td {
    padding: 4px;
}

th {
    background-color: black;
    color: #ffffff;
}

.team-stats {
    text-align: center;
}

.team-stats:hover {
    background-color: black;
}

.team-stats:hover td {
    color: white;
}





/* Footer */

footer {
    
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly; 
    list-style-type: none;   
}

#social-networks li {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}


/*Media query's*/

/* Media query: Tablets and larger*/
@media screen and (min-width: 768px) {

    /*General styling*/
    .spacing-top {
        margin-top: 10px;
    }

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .nav-list {
        display: flex;
    }

    .nav-list > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        font-size: 100%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push down main content down to accommodate larger header*/
        margin-top: 78px;
    }

    /* Hero*/
    #cover-text {
        width: 300px;
        padding-left: 10px;
        right: 60px;
        bottom: 350px;
    }

    /* Teams area */

    /* Latest game */
    .games {
        height: 300px;
    }

    .cover-text-game {  
        margin-top: 70px;        
        font-size: 200%;
        width: 200px;
        height: 120px;
        color: black;
        font-weight: bold;  
    }

    /* Team sheet */
    #team-sheet {
        margin-top: 20px;
        font-size: 120%;
    }




}

/* Media query: Laptops and lager screens*/
@media screen and (min-width: 992px) {
    
    /*Header*/

    .nav-list a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}